.welcome{
    display: flex;
    height: calc(100vh - 64px);
    width:100%;
    padding: 20px;
    background-image: url("/images/YTBackground.jpg");
    background-size: cover; 
    background-position: -180px -150px;
}

.welcome .app-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.welcome .app-description h5{
    font-family: 'Sawarabi Gothic', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
    text-align: center;
}

.welcome .benefits{
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 15px;
}

.welcome .benefits div{
    display: flex;
    flex-direction: column;
}

.welcome .benefits li{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

.welcome .right-panel{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logins{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid black;
    padding: 20px;
    height: 100vh;
    width:100vw;
    background-color: #8f0a00;
}
.or{
    background-color: black;
    border-top: 5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.logins div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.channels{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}