.sub-channels{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.videoPartial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:25%;
    height: 55vh;
}

.videoPartial button{
    width:50%;
}