.signUp{
    padding: 30px;
    border: 5px double grey;
    background-color: #eee;
    width:40% !important;
}

.signUp form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp form .input-field{
    width:100%;
}
.signUp form .input-field div{
    margin: 15px 0 0 0;
}

.signUp form .input-field .grey{
    margin-top: 15px !important;
}